extends layout

block content
  h1= title
  p Below are some aura search results:

  // Step 2 & 3: Bootstrap grid structure
  .container-fluid
    .row
      each aura in results
        .col-sm-3.border.p-2
          h3= aura.color
          p Intensity: #{aura.intensity}
          p Emotion: #{aura.emotion_associated}

  // Step 8: Add a hyperlink back to the home page
  p
    a(href="/") Back to Home
