extends layout

block content
  h1= title
  p Below are some aura search results:

  .container-fluid
    .row
      each aura in results
        .col-sm-3.mb-4
          .card.shadow-sm.border
            .card-body
              h5.card-title= aura.color
              p.card-text Intensity: #{aura.intensity}
              p.card-text Emotion: #{aura.emotion_associated}

  p.mt-4
    a(href="/") Back to Home

